@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import "bootstrap";

h1{
  color: #461D7C;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

h2{
  color: #461d7c;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

.box{
  float: left;
    /*background: url('bkg.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
  width: 42.5%;
  margin-left: 5%;
  margin-top: 1%;
}


